
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300&family=Open+Sans:wght@600;700&family=Poppins:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #1e1f1f;
    font-family: 'Poppins';
}
.bgSection{
    position: absolute;
    height: 200%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/bg.jpg');
    filter: brightness(90%) blur(5px);
}
.quotes{
    position: absolute;
    width: 90%;
    color: white;
    left: 10%;
    text-align: left;
    font-size: 25px;
    top: 15%;
    padding: 0 25px;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    animation: quotesAnimation 1s ease-in;
    transform-origin: top;
}
.name{
    position: absolute;
    right: 0;
    text-align: right;
    padding: 0 25px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 690px){
    .quotes{
        width: 100%;
        left: 0;
        top: 15%;
        font-size: 15px;
        padding:0px 15px;
        line-height: 25px;
    }
    .name{
        font-size: 15px;
        padding-right: 15px;

    }
}
::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    top: 40px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #AC73D7;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #863EBB;
}